<div class="container">
    

    
   
    <span class="header-title">Bannerlord when?</span>

  <div class="timer-container">

    <!-- TIMER -->
      <h2>Time since start of development:</h2>
      <div class="timer">
        <span id="year">{{year}}</span> Years,
        <span id="month">{{month}}</span> Months,
        <span id="day">{{day}}</span> Days,
        <span id="hour">{{hour}}</span>:<span id="minute">{{minute}}</span>:<span id="second">{{second}}</span>
      </div>
    </div>



        <div class="owl-carousel owl-theme">

        {{!-- ITEM --}}
        <div class="card">
          <img class="card-img-top img-responsive" src="https://upload.wikimedia.org/wikipedia/en/thumb/2/20/StarCraft_II_-_Box_Art.jpg/220px-StarCraft_II_-_Box_Art.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Starcraft 2</h5>
            <p class="card-text">7 years (2003-2010)</p>
          </div>
        </div>


        <div class="card">
          <img class="card-img-top img-responsive" src="https://upload.wikimedia.org/wikipedia/en/thumb/7/77/Sporebox.jpg/220px-Sporebox.jpg " alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Spore</h5>
            <p class="card-text">8 years (2000-2008)</p>
          </div>
        </div>

        <div class="card">
          <img class="card-img-top img-responsive" src="https://upload.wikimedia.org/wikipedia/en/thumb/4/44/Red_Dead_Redemption_II.jpg/220px-Red_Dead_Redemption_II.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Red Dead Redemption 2</h5>
            <p class="card-text">8 years (2010-2018)</p>
          </div>
        </div>

        <div class="card">
          <img class="card-img-top img-responsive" src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5f/Tf2_standalonebox.jpg/220px-Tf2_standalonebox.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Team Fortress 2</h5>
            <p class="card-text">9 years (1998-2007)</p>
          </div>
        </div>


           <div class="card">
          <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/thumb/2/25/The_Last_Guardian_cover_art.jpg/220px-The_Last_Guardian_cover_art.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">The Last Guardian</h5>
            <p class="card-text">9 years (2007-2016)</p>
          </div>
        </div>


        <div class="card">
          <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/thumb/5/51/Prey_%28Xbox_360%29.jpg/220px-Prey_%28Xbox_360%29.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Prey</h5>
            <p class="card-text">11 years (1995-2006)</p>
          </div>
        </div>


        <div class="card">
          <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/0/0e/DukeNukemForever.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Duke Nukem Forever</h5>
            <p class="card-text">15 years (1996-2011)</p>
          </div>
        </div>


      </div>
</div>