
<div class="container">

    <h2>Time since start:</h2>
    <div>
        <span id="year">{{year}}</span> Years, 
        <span id="month">{{month}}</span> Months, 
        <span id="day">{{day}}</span> Days,
        <span id="hour">{{hour}}</span>:<span id="minute">{{minute}}</span>:<span id="second">{{second}}</span>
    </div>
</div>
