<div class="owl-container">
  <div class="owl-carousel owl-theme">

    {{!-- ITEM --}}
    <div class="card center">
      <img class="card-img-top" src="images/download.jpeg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">1</p>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="images/download.jpeg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">2</p>
      </div>
    </div>


    <div class="card">
      <img class="card-img-top" src="images/download.jpeg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">3</p>
      </div>
    </div>


    <div class="card">
      <img class="card-img-top" src="images/download.jpeg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">4</p>

      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="images/download.jpeg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">5</p>

      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="images/download.jpeg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">6</p>

      </div>
    </div>
  </div>


</div>
<div class="container">

  <!-- TIMER -->
  <h2>Time since announcement:</h2>
  <div class="timer">
    <span id="year">{{year}}</span> Years,
    <span id="month">{{month}}</span> Months,
    <span id="day">{{day}}</span> Days,
    <span id="hour">{{hour}}</span>:<span id="minute">{{minute}}</span>:<span id="second">{{second}}</span>
  </div>
</div>